### Adding Continent Coumn to Country Dataset

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
import seaborn as sns
import io
import requests
from unidecode import unidecode
%matplotlib inline

In [2]:
df= pd .read_csv('D:/DCU/CA682_DataVisualization/Assignment1/Cleaned_Datasets/Final/Country.csv')

In [3]:
df.head()

,iso_code,country,year,co2,consumption_co2,co2_growth_prct,co2_growth_abs,co2_per_capita,consumption_co2_per_capita,cumulative_co2,...,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,gdp_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp
0,AFG,Afghanistan,1995,1.230,NaN,-3.99,-0.051,0.068,NaN,66.834,...,9.15,0.505,3.07,0.170,18110662.0,1.230753e+10,679.5735064,7.246,400.105,0.338
1,AFG,Afghanistan,1996,1.165,NaN,-5.33,-0.066,0.062,NaN,67.999,...,9.93,0.527,3.29,0.175,18853444.0,1.207013e+10,640.2079884,7.119,377.589,0.351
2,AFG,Afghanistan,1997,1.084,NaN,-6.94,-0.081,0.056,NaN,69.083,...,10.60,0.548,3.59,0.185,19357126.0,1.185075e+10,612.2165005,6.799,351.264,0.354
3,AFG,Afghanistan,1998,1.029,NaN,-5.07,-0.055,0.052,NaN,70.113,...,11.10,0.562,3.88,0.197,19737770.0,1.169217e+10,592.3755489,6.618,335.290,0.360
4,AFG,Afghanistan,1999,0.810,NaN,-21.34,-0.220,0.040,NaN,70.922,...,11.87,0.588,4.15,0.206,20170847.0,1.151732e+10,570.9882846,6.612,327.789,0.378

In [4]:
df['continent'] = pd.Series()

<ipython-input-4-f0750ffadb40>:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  df['continent'] = pd.Series()

In [5]:
df.head()

,iso_code,country,year,co2,consumption_co2,co2_growth_prct,co2_growth_abs,co2_per_capita,consumption_co2_per_capita,cumulative_co2,...,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,gdp_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,continent
0,AFG,Afghanistan,1995,1.230,NaN,-3.99,-0.051,0.068,NaN,66.834,...,0.505,3.07,0.170,18110662.0,1.230753e+10,679.5735064,7.246,400.105,0.338,NaN
1,AFG,Afghanistan,1996,1.165,NaN,-5.33,-0.066,0.062,NaN,67.999,...,0.527,3.29,0.175,18853444.0,1.207013e+10,640.2079884,7.119,377.589,0.351,NaN
2,AFG,Afghanistan,1997,1.084,NaN,-6.94,-0.081,0.056,NaN,69.083,...,0.548,3.59,0.185,19357126.0,1.185075e+10,612.2165005,6.799,351.264,0.354,NaN
3,AFG,Afghanistan,1998,1.029,NaN,-5.07,-0.055,0.052,NaN,70.113,...,0.562,3.88,0.197,19737770.0,1.169217e+10,592.3755489,6.618,335.290,0.360,NaN
4,AFG,Afghanistan,1999,0.810,NaN,-21.34,-0.220,0.040,NaN,70.922,...,0.588,4.15,0.206,20170847.0,1.151732e+10,570.9882846,6.612,327.789,0.378,NaN

In [6]:
df1 = pd.read_csv('D:/DCU/CA682_DataVisualization/Assignment1/Dataset/Raw_DataSets/Countries and Continents.csv')

In [7]:
df1.head()

          Country Continent
0     Afghanistan      Asia
1   Ã…land Islands    Europe
2         Albania    Europe
3         Algeria    Africa
4  American Samoa   Oceania

In [8]:
def unicode_string(var): 
    temp=''
    for i in var:
        if i != ' ':
            x=unidecode(i)
            temp+=x
        else:
            temp+=' '
    return temp

In [9]:
country_updt=[]
for country in df1['Country']:
    country_clean=unicode_string(list(country))
    country_updt+=[country_clean]

In [10]:
continent_updt=[]
for continent in df1['Continent']:
    continent_clean=unicode_string(list(continent))
    continent_updt+=[continent_clean]

In [12]:
map_obj = dict(zip(country_updt,continent_updt))

In [13]:
map_obj

{'Afghanistan': 'Asia',
 'Aland Islands': 'Europe',
 'Albania': 'Europe',
 'Algeria': 'Africa',
 'American Samoa': 'Oceania',
 'Andorra': 'Europe',
 'Angola': 'Africa',
 'Anguilla': 'North America',
 'Antarctica': 'Antarctica',
 'Antigua and Barbuda': 'North America',
 'Argentina': 'South America',
 'Armenia': 'Asia',
 'Aruba': 'North America',
 'Australia': 'Oceania',
 'Austria': 'Europe',
 'Azerbaijan': 'Asia',
 'Bahamas': 'North America',
 'Bahrain': 'Asia',
 'Bangladesh': 'Asia',
 'Barbados': 'North America',
 'Belarus': 'Europe',
 'Belgium': 'Europe',
 'Belize': 'North America',
 'Benin': 'Africa',
 'Bermuda': 'North America',
 'Bhutan': 'Asia',
 'Bolivia (Plurinational State of)': 'South America',
 'Bonaire, Sint Eustatius and Saba': 'North America',
 'Bosnia and Herzegovina': 'Europe',
 'Botswana': 'Africa',
 'Bouvet Island': 'South America',
 'Brazil': 'South America',
 'British Indian Ocean Territory': 'Africa',
 'British Virgin Islands': 'North America',
 'Brunei Darussalam': 'Asia',
 'Bulgaria': 'Europe',
 'Burkina Faso': 'Africa',
 'Burundi': 'Africa',
 'Cabo Verde': 'Africa',
 'Cambodia': 'Asia',
 'Cameroon': 'Africa',
 'Canada': 'North America',
 'Cayman Islands': 'North America',
 'Central African Republic': 'Africa',
 'Chad': 'Africa',
 'Chile': 'South America',
 'China': 'Asia',
 'China, Hong Kong Special Administrative Region': 'Asia',
 'China, Macao Special Administrative Region': 'Asia',
 'Christmas Island': 'Oceania',
 'Cocos (Keeling) Islands': 'Oceania',
 'Colombia': 'South America',
 'Comoros': 'Africa',
 'Congo': 'Africa',
 'Cook Islands': 'Oceania',
 'Costa Rica': 'North America',
 "Cote d'Ivoire": 'Africa',
 'Croatia': 'Europe',
 'Cuba': 'North America',
 'Curacao': 'North America',
 'Cyprus': 'Asia',
 'Czechia': 'Europe',
 "Democratic People's Republic of Korea": 'Asia',
 'Democratic Republic of the Congo': 'Africa',
 'Denmark': 'Europe',
 'Djibouti': 'Africa',
 'Dominica': 'North America',
 'Dominican Republic': 'North America',
 'Ecuador': 'South America',
 'Egypt': 'Africa',
 'El Salvador': 'North America',
 'Equatorial Guinea': 'Africa',
 'Eritrea': 'Africa',
 'Estonia': 'Europe',
 'Eswatini': 'Africa',
 'Ethiopia': 'Africa',
 'Falkland Islands (Malvinas)': 'South America',
 'Faroe Islands': 'Europe',
 'Fiji': 'Oceania',
 'Finland': 'Europe',
 'France': 'Europe',
 'French Guiana': 'South America',
 'French Polynesia': 'Oceania',
 'French Southern Territories': 'Africa',
 'Gabon': 'Africa',
 'Gambia': 'Africa',
 'Georgia': 'Asia',
 'Germany': 'Europe',
 'Ghana': 'Africa',
 'Gibraltar': 'Europe',
 'Greece': 'Europe',
 'Greenland': 'North America',
 'Grenada': 'North America',
 'Guadeloupe': 'North America',
 'Guam': 'Oceania',
 'Guatemala': 'North America',
 'Guernsey': 'Europe',
 'Guinea': 'Africa',
 'Guinea-Bissau': 'Africa',
 'Guyana': 'South America',
 'Haiti': 'North America',
 'Heard Island and McDonald Islands': 'Oceania',
 'Holy See': 'Europe',
 'Honduras': 'North America',
 'Hungary': 'Europe',
 'Iceland': 'Europe',
 'India': 'Asia',
 'Indonesia': 'Asia',
 'Iran (Islamic Republic of)': 'Asia',
 'Iraq': 'Asia',
 'Ireland': 'Europe',
 'Isle of Man': 'Europe',
 'Israel': 'Asia',
 'Italy': 'Europe',
 'Jamaica': 'North America',
 'Japan': 'Asia',
 'Jersey': 'Europe',
 'Jordan': 'Asia',
 'Kazakhstan': 'Asia',
 'Kenya': 'Africa',
 'Kiribati': 'Oceania',
 'Kuwait': 'Asia',
 'Kyrgyzstan': 'Asia',
 "Lao People's Democratic Republic": 'Asia',
 'Latvia': 'Europe',
 'Lebanon': 'Asia',
 'Lesotho': 'Africa',
 'Liberia': 'Africa',
 'Libya': 'Africa',
 'Liechtenstein': 'Europe',
 'Lithuania': 'Europe',
 'Luxembourg': 'Europe',
 'Madagascar': 'Africa',
 'Malawi': 'Africa',
 'Malaysia': 'Asia',
 'Maldives': 'Asia',
 'Mali': 'Africa',
 'Malta': 'Europe',
 'Marshall Islands': 'Oceania',
 'Martinique': 'North America',
 'Mauritania': 'Africa',
 'Mauritius': 'Africa',
 'Mayotte': 'Africa',
 'Mexico': 'North America',
 'Micronesia (Federated States of)': 'Oceania',
 'Monaco': 'Europe',
 'Mongolia': 'Asia',
 'Montenegro': 'Europe',
 'Montserrat': 'North America',
 'Morocco': 'Africa',
 'Mozambique': 'Africa',
 'Myanmar': 'Asia',
 'Namibia': 'Africa',
 'Nauru': 'Oceania',
 'Nepal': 'Asia',
 'Netherlands': 'Europe',
 'New Caledonia': 'Oceania',
 'New Zealand': 'Oceania',
 'Nicaragua': 'North America',
 'Niger': 'Africa',
 'Nigeria': 'Africa',
 'Niue': 'Oceania',
 'Norfolk Island': 'Oceania',
 'North Macedonia': 'Europe',
 'Northern Mariana Islands': 'Oceania',
 'Norway': 'Europe',
 'Oman': 'Asia',
 'Pakistan': 'Asia',
 'Palau': 'Oceania',
 'Panama': 'North America',
 'Papua New Guinea': 'Oceania',
 'Paraguay': 'South America',
 'Peru': 'South America',
 'Philippines': 'Asia',
 'Pitcairn': 'Oceania',
 'Poland': 'Europe',
 'Portugal': 'Europe',
 'Puerto Rico': 'North America',
 'Qatar': 'Asia',
 'Republic of Korea': 'Asia',
 'Republic of Moldova': 'Europe',
 'Reunion': 'Africa',
 'Romania': 'Europe',
 'Russian Federation': 'Europe',
 'Rwanda': 'Africa',
 'Saint Barthelemy': 'North America',
 'Saint Helena': 'Africa',
 'Saint Kitts and Nevis': 'North America',
 'Saint Lucia': 'North America',
 'Saint Martin (French Part)': 'North America',
 'Saint Pierre and Miquelon': 'North America',
 'Saint Vincent and the Grenadines': 'North America',
 'Samoa': 'Oceania',
 'San Marino': 'Europe',
 'Sao Tome and Principe': 'Africa',
 'Sark': 'Europe',
 'Saudi Arabia': 'Asia',
 'Senegal': 'Africa',
 'Serbia': 'Europe',
 'Seychelles': 'Africa',
 'Sierra Leone': 'Africa',
 'Singapore': 'Asia',
 'Sint Maarten (Dutch part)': 'North America',
 'Slovakia': 'Europe',
 'Slovenia': 'Europe',
 'Solomon Islands': 'Oceania',
 'Somalia': 'Africa',
 'South Africa': 'Africa',
 'South Georgia and the South Sandwich Islands': 'South America',
 'South Sudan': 'Africa',
 'Spain': 'Europe',
 'Sri Lanka': 'Asia',
 'State of Palestine': 'Asia',
 'Sudan': 'Africa',
 'Suriname': 'South America',
 'Svalbard and Jan Mayen Islands': 'Europe',
 'Sweden': 'Europe',
 'Switzerland': 'Europe',
 'Syrian Arab Republic': 'Asia',
 'Tajikistan': 'Asia',
 'Thailand': 'Asia',
 'Timor-Leste': 'Asia',
 'Togo': 'Africa',
 'Tokelau': 'Oceania',
 'Tonga': 'Oceania',
 'Trinidad and Tobago': 'North America',
 'Tunisia': 'Africa',
 'Turkey': 'Asia',
 'Turkmenistan': 'Asia',
 'Turks and Caicos Islands': 'North America',
 'Tuvalu': 'Oceania',
 'Uganda': 'Africa',
 'Ukraine': 'Europe',
 'United Arab Emirates': 'Asia',
 'United Kingdom of Great Britain and Northern Ireland': 'Europe',
 'United Republic of Tanzania': 'Africa',
 'United States Minor Outlying Islands': 'Oceania',
 'United States of America': 'North America',
 'United States Virgin Islands': 'North America',
 'Uruguay': 'South America',
 'Uzbekistan': 'Asia',
 'Vanuatu': 'Oceania',
 'Venezuela (Bolivarian Republic of)': 'South America',
 'Viet Nam': 'Asia',
 'Wallis and Futuna Islands': 'Oceania',
 'Western Sahara': 'Africa',
 'Yemen': 'Asia',
 'Zambia': 'Africa',
 'Zimbabwe': 'Africa',
 'Bolivia': 'South America',
 'Wallis and Futuna': 'Oceania',
 'Micronesia (country)': 'Oceania',
 'Hong Kong': 'Asia',
 'Ryukyu Islands': 'Asia',
 'South Korea': 'Asia',
 'International transport': 'Europe',
 'North Korea': 'Asia',
 'Brunei': 'Asia',
 'Kosovo': 'Europe',
 'United States': 'North America',
 'Panama Canal Zone': 'South America',
 'Moldova': 'Europe',
 'United Kingdom': 'Europe',
 'North America (excl. USA)': 'North America (excl. USA)',
 'Macao': 'Asia',
 'Taiwan': 'Asia',
 'Democratic Republic of Congo': 'Africa',
 'Syria': 'Asia',
 'Venezuela': 'South America',
 'French West Africa': 'Africa',
 'Faeroe Islands': 'Europe',
 'Micronesia': 'Oceania',
 'Bonaire Sint Eustatius and Saba': 'South America',
 'Europe (excl. EU-28)': 'Europe (excl. EU-28)',
 'Europe (excl. EU-27)': 'Europe (excl. EU-27)',
 'EU-28': 'Europe',
 'EU-27': 'Europe',
 'Timor': 'Asia',
 'Tanzania': 'Africa',
 'Vietnam': 'Asia',
 'Laos': 'Asia',
 'World': 'World',
 'Palestine': 'Asia',
 'Cape Verde': 'Africa',
 'Asia (excl. China & India)': 'Asia (excl. China & India)',
 'Russia': 'Europe',
 'French Equatorial Africa': 'Africa',
 'Leeward Islands': 'South America',
 'Iran': 'Asia'}

In [14]:
for i in range(len(df['country'])):
    if df['country'][i] in country_updt:
        df['continent'][i]=map_obj.get(df['country'][i])

<ipython-input-14-fb8e11c7b846>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['continent'][i]=map_obj.get(df['country'][i])
C:\Users\Asus\anaconda3\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [15]:
df.head()

,iso_code,country,year,co2,consumption_co2,co2_growth_prct,co2_growth_abs,co2_per_capita,consumption_co2_per_capita,cumulative_co2,...,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,gdp_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,continent
0,AFG,Afghanistan,1995,1.230,NaN,-3.99,-0.051,0.068,NaN,66.834,...,0.505,3.07,0.170,18110662.0,1.230753e+10,679.5735064,7.246,400.105,0.338,Asia
1,AFG,Afghanistan,1996,1.165,NaN,-5.33,-0.066,0.062,NaN,67.999,...,0.527,3.29,0.175,18853444.0,1.207013e+10,640.2079884,7.119,377.589,0.351,Asia
2,AFG,Afghanistan,1997,1.084,NaN,-6.94,-0.081,0.056,NaN,69.083,...,0.548,3.59,0.185,19357126.0,1.185075e+10,612.2165005,6.799,351.264,0.354,Asia
3,AFG,Afghanistan,1998,1.029,NaN,-5.07,-0.055,0.052,NaN,70.113,...,0.562,3.88,0.197,19737770.0,1.169217e+10,592.3755489,6.618,335.290,0.360,Asia
4,AFG,Afghanistan,1999,0.810,NaN,-21.34,-0.220,0.040,NaN,70.922,...,0.588,4.15,0.206,20170847.0,1.151732e+10,570.9882846,6.612,327.789,0.378,Asia

In [16]:
df['continent'].isnull().sum()

0

In [17]:
df.to_csv('D:/DCU/CA682_DataVisualization/Assignment1/Cleaned_Datasets/Final/Country.csv',index= False)